<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Receipe List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--<a href="/logout" class="btn btn-primary">logout</a>-->


    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0"
      role="alert"
    >
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div class="container my-4">
      <form
        method="post"
        class="card mx-auto col-6 shadow-lg p-3"
        enctype="multipart/form-data"
      >
        <h2>Add Receipe</h2>
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Receipe name</label
          >
          <input type="text" class="form-control" name="receipe_name" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Receipe Description</label
          >
          <textarea name="receipe_description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Receipe Image</label
          >
          <input type="file" class="form-control" name="receipe_image" />
        </div>
        <button type="submit" class="btn btn-primary">Add Receipe</button>
      </form>
    </div>
    <div class="mt-4">
      <div class="col-6 mx-auto ">
        <form>
          <label for="exampleInputEmail1" class="form-label"
            >Search</label
          >
          <input type="text" class="form-control my-2" name="search" />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
    {% block table %}{% endblock table %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
